<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h3 class="text">短網址創建成功！ 點擊連結您的網站：</h3>
      <h3><a href="{{url.originalUrl}}">{{createUrl}}</a></h3>
      <a href="/" class="btn btn-primary mt-5">返回創建別的短網址!</a>
    </div>
  </div>
</div>